{% extends 'base.html' %}
{% load static %}
{% block content %}




<!--About us start  -->
<section id="about-us">
    <div class="container">
        <div class="row py-lg-5">

            <h2 class="text-capitalize text-center m-0 py-lg-5">Why to choose us</h2>

            <div class="text-center col-lg-4">
                <img src="{% static 'images/search.png' %}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                    width="140" height="140" loading="lazy">
                <h4 class="fw-normal mt-5 ">Easy to find</h4>
                <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet
                    facilisis.</p>
            </div>

            <div class="text-center col-lg-4">
                <img src="{% static 'images/price.png' %}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                    width="140" height="140" loading="lazy">
                <h4 class="fw-normal mt-5">Affordable Prices</h4>
                <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet
                    facilisis.</p>
            </div>

            <div class="text-center col-lg-4">
                <img src="{% static 'images/time.png' %}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                    width="140" height="140" loading="lazy">
                <h4 class="fw-normal mt-5 ">Quickly Process</h4>
                <p>Ac, gravida in diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui
                    pellentesque. </p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial start  -->
<section id="testimonial">
    <div class="container my-5">



        <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row my-5 py-lg-5">
                        <div class="col-md-8 mx-auto">
                            <img src="{% static 'images/quote.png' %}" class="rounded mx-auto d-inline" alt="...">
                            <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a
                                fringilla
                                eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <p class="pt-5 mb-1">Elena Pravo</p>
                                    <p class="">Ceo, Upstate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row my-5 py-lg-5">
                        <div class="col-md-8 mx-auto">
                            <img src="{% static 'images/quote.png' %}" class="rounded mx-auto d-inline" alt="...">
                            <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a
                                fringilla
                                eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <p class="pt-5 mb-1">Elena Pravo</p>
                                    <p class="">Ceo, Upstate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row my-5 py-lg-5">
                        <div class="col-md-8 mx-auto">
                            <img src="{% static 'images/quote.png' %}" class="rounded mx-auto d-inline" alt="...">
                            <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a
                                fringilla
                                eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <p class="pt-5 mb-1">Elena Pravo</p>
                                    <p class="">Ceo, Upstate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class=" testimonial-swiper-button col-md-3 position-absolute">
                <div class="swiper-button-prev testimonial-arrow"></div>
                <div class="arrow-divider"> | </div>
                <div class="swiper-button-next testimonial-arrow"></div>
            </div>

        </div>
    </div>
</section>









{%  endblock %}