{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="billboard">
    <div class="container ">
      <div class="row flex-lg-row-reverse align-items-center ">

        <div class="col-lg-6">
          <img src="{% static 'images/billboard.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
          <h1 class=" text-capitalize  lh-1 my-3">Perfect way to buy and sell a home</h1>
          <p class="lead">Diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui
            pellentesque. Ac, gravida in eget non amet eget purus non.</p>
          <nav class="navbar navbar-expand-lg billboard-nav">
            <div class="container billboard-search p-0">

              <div class="row billboard-row">
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Purpose">
                    <option selected>Purpose</option>
                    <option value="1">Buy</option>
                    <option value="2">Rent</option>
                    <option value="3">Sell</option>
                    <option value="4">Something else here</option>

                  </select>
                </div>
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Location">
                    <option selected>Location</option>
                    <option value="1">Texas</option>
                    <option value="2">Miami</option>
                    <option value="3">Chicago</option>
                    <option value="4">New York</option>
                    <option value="5">Something else here</option>
                  </select>
                </div>
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Type">
                    <option selected>Type</option>
                    <option value="1">House</option>
                    <option value="2">Appartment</option>
                    <option value="3">Villa</option>
                    <option value="4">Loft</option>
                    <option value="5">Bungalow</option>
                    <option value="3">Something else here</option>
                  </select>
                </div>

                <div class="col-lg-3 billboard-btn">
                  <button type="submit" class="btn btn-primary btn-lg billboard-search">Search</button>
                </div>
              </div>


            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

<!--About us start  -->
<section id="about-us">
    <div class="container">
        <div class="row py-lg-5">

            <h2 class="text-capitalize text-center m-0 py-lg-5">Why to choose us</h2>

            <div class="text-center col-lg-4">
                <img src="{% static 'images/search.png' %}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                    width="140" height="140" loading="lazy">
                <h4 class="fw-normal mt-5 ">Easy to find</h4>
                <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet
                    facilisis.</p>
            </div>

            <div class="text-center col-lg-4">
                <img src="{% static 'images/price.png' %}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                    width="140" height="140" loading="lazy">
                <h4 class="fw-normal mt-5">Affordable Prices</h4>
                <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet
                    facilisis.</p>
            </div>

            <div class="text-center col-lg-4">
                <img src="{% static 'images/time.png' %}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                    width="140" height="140" loading="lazy">
                <h4 class="fw-normal mt-5 ">Quickly Process</h4>
                <p>Ac, gravida in diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui
                    pellentesque. </p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial start  -->
<section id="testimonial">
    <div class="container my-5">



        <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row my-5 py-lg-5">
                        <div class="col-md-8 mx-auto">
                            <img src="{% static 'images/quote.png' %}" class="rounded mx-auto d-inline" alt="...">
                            <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a
                                fringilla
                                eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <p class="pt-5 mb-1">Elena Pravo</p>
                                    <p class="">Ceo, Upstate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row my-5 py-lg-5">
                        <div class="col-md-8 mx-auto">
                            <img src="{% static 'images/quote.png' %}" class="rounded mx-auto d-inline" alt="...">
                            <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a
                                fringilla
                                eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <p class="pt-5 mb-1">Elena Pravo</p>
                                    <p class="">Ceo, Upstate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row my-5 py-lg-5">
                        <div class="col-md-8 mx-auto">
                            <img src="{% static 'images/quote.png' %}" class="rounded mx-auto d-inline" alt="...">
                            <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a
                                fringilla
                                eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <p class="pt-5 mb-1">Elena Pravo</p>
                                    <p class="">Ceo, Upstate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class=" testimonial-swiper-button col-md-3 position-absolute">
                <div class="swiper-button-prev testimonial-arrow"></div>
                <div class="arrow-divider"> | </div>
                <div class="swiper-button-next testimonial-arrow"></div>
            </div>

        </div>
    </div>
</section>











{% endblock %}